body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    background-image: linear-gradient(to right,white, gold);
    padding: 10px;
    border-radius: 10px;
}
